-
    var footerTitle = "Follow Me";
    var socialList = [
        {
            "icon": "facebook2",
            "url": "https://www.facebook.com/"
        },
        {
            "icon": "twitter",
            "url": "https://www.twitter.com/"
        },
        {
            "icon": "facebook2",
            "url": "https://www.youtube.com/"
        },
        {
            "icon": "skype",
            "url": "https://www.skype.com/"
        },
    ]


.footer
    div &copy; 2019 By Bogdan N
    ul.footer__list
        li 
            a.footer__link(href="/privacy") Privacy
        li 
            a.footer__link(href="/terms") Terms
    .footer__title=footerTitle
        ul.footer__social
            each social, key in socialList
                li.footer__item
                    label.footer__label(for=`message-box-id-${key}`)
                        span(class=`cv-online__icon--${social.icon}`)
        .footer__box-body
            each social, key in socialList
                input.footer__box-radio(type="radio", name="cool-radio", id=`message-box-id-${key}`)
                .footer__box-message
                a.footer__links(href=social.url, target="_blank")=social.url            

        




//- footer
//-     div &copy; 2019 My awesome CV online
//-     ul 
//-         li
//-             a(href="/privacy") Privacy
//-         li    
//-             a(href="/policy") Policy